{% extends 'base4.html' %} {% block content %} {% load static %}
<!-- 헤더 -->
<div class="header">
  <div class="icon">
    <a href="{{ request.META.HTTP_REFERER }}"
      ><span class="material-symbols-outlined"> arrow_back </span></a
    >
  </div>
  <div class="title">
    <img src="{%static 'textlogo.png' %}" />
  </div>
</div>

<!-- 배너 -->
<div class="banner">
  <p class="bannerText">필요한 물건을 요청하고<br />편하게 받아보세요</p>
  <img src="{%static 'unboxing.png' %}" class="bannerImg" />
</div>

<a href="{% url 'errand_new' %}"
  ><div class="requestButton"><p>심부름 요청하기</p></div></a
>
<div class="lineMaking"></div>

<div class="requestListTitle"><p>요청 내역</p></div>

<div class="requestList">
  {% if requested_errands %} {% for errand in requested_errands %}
  <a href="{% url 'errand_detail_for_client' errand.id %}"
    ><div class="request">
      <div class="status"><p>{{ errand.get_status_display }}</p></div>
      <p class="requestContent">{{ errand.item }}</p>
    </div>
  </a>
  {% endfor %} {% else %}
  <p>요청하신 심부름이 없습니다.</p>
  {% endif %}
</div>

<!-- 로그아웃버튼 -->
<div>
  <a href="{% url 'logout' %}">로그아웃</a>
</div>
{% endblock %}
