<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>의뢰인 홈</title>
</head>
<body>

    <div>
        <a href="{% url 'logout' %}">로그아웃</a>
    </div>
    
    <div>
        <a href="{% url 'errand_new' %}">심부름 요청하기</a>
    </div>

    <div>
        <h2>심부름 요청 내역</h2>
        {% if requested_errands %}
            {% for errand in requested_errands %}
                <li><a href="{% url 'errand_detail_for_client' errand.id %}">{{ errand.item }} - {%if errand.get_status_display == '수락 대기'%}수락<br>대기중{% else %}{{ errand.get_status_display }}{% endif %}</a></li>
            {% endfor %}
        {% else %}
            <p>요청하신 심부름이 없습니다.</p>
        {% endif %}
    </div>

</body>
</html>