{% extends 'base4.html' %} {% block content %} {% load static %}
<!-- 헤더 -->
<div class="header">
  <div class="icon noneicon">
    <span class="material-symbols-outlined"> arrow_back </span>
  </div>
  <div class="title">
    <img src="{%static 'textlogo.png' %}" />
  </div>
</div>

<!-- 배너 -->
<div class="banner">
  <p class="bannerText">필요한 물건을 요청하고<br />편하게 받아보세요</p>
  <img src="{%static 'unboxing.png' %}" class="bannerImg" />
</div>

<a href="{% url 'errand_new' %}"
  ><div class="requestButton"><p>심부름 요청하기</p></div></a
>
<div class="lineMaking"></div>

<div class="requestListTitle"><p>요청 내역</p></div>

<div class="requestList">
  {% if requested_errands %} {% for errand in requested_errands %}
  <a href="{% url 'errand_detail_for_client' errand.id %}"
    ><div class="request {% if errand.get_status_display == '진행 중' %}greenborder{% elif errand.get_status_display == '완료' %}grayborder{% endif %}">
      <div class="status {% if errand.get_status_display == '진행 중' %}greenback{% elif errand.get_status_display == '완료' %}grayback{% endif %}">
        <p>
          {% if errand.get_status_display == '수락 대기' %}
    수락<br />대기중
{% elif errand.get_status_display == '진행 중' %}진행중 {% else %}
{{errand.get_status_display}}
{% endif %}
        </p>
      </div>
      <p class="requestContent">{{ errand.item }}</p>
    </div>
  </a>
  {% endfor %} {% else %}
  <p class="noErrand">요청하신 심부름이 없습니다.</p>
  {% endif %}
</div>

<!-- 로그아웃버튼 -->
<div class="logout">
  <a href="{% url 'logout' %}" class="no-color-change">로그아웃</a>
</div>
{% endblock %}
