<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>심부름 상세 정보</title>
</head>
<body>

    <a href="{{ request.META.HTTP_REFERER }}">뒤로가기</a>
    
    <h2>심부름 상세 정보</h2>

    <div>
        요청 내용: {{errand.item}}
        <br>
        주소:
        {{errand.address_1}}
        {{errand.address_2}}
        <br>
        진행 상황: {{errand.get_status_display}}
    </div>

    {% if errand.get_status_display == '수락 대기' %}
        <a href="{% url 'errand_delete' errand.id %}">요청 취소하기</a>
    {% endif %}

    {% if errand.get_status_display == '수락 대기' %}
        <div>
            아직 심부름꾼이 없습니다.
        </div>
    {% else %}
        <div>
            심부름꾼 전화번호:
            <input id="server_phone_number" value="{{errand.server.phone_number}}" readonly>
            <button onclick="copy_to_clipboard()">복사하기</button>
        </div>
    {% endif %}

</body>
</html>

<script>
    function copy_to_clipboard() {    
        var copyText = document.getElementById('server_phone_number');
        copyText.select();
        copyText.setSelectionRange(0, 99999);
        document.execCommand("Copy");
        alert('전화번호가 복사되었습니다.');
    }

</script>