{% extends 'base4.html' %} {% block content %} {% load static %}
<!-- 헤더 -->
<div class="header">
<div class="icon"><a href="{{ request.META.HTTP_REFERER }}"><span class="material-symbols-outlined"> arrow_back </span></a></div>
<p class="title">심부름 요청하기</p>
</div>

<!-- 본문 -->
    <form id="errandForm" action="{% url 'errand_create' %}" method="post">
        {% csrf_token %}
        <p class="miniTitle" id="requestText">요청 내용</p>
        <p class="description">필요한 물품과 상세 내용을 입력해 주세요.<br>심부름꾼이 가져다 드립니다.</p>

        <textarea name="item" class="custom-input" placeholder="내용을  입력해주세요"></textarea>

<!-- 주소입력 -->
        <p class="miniTitle" id="requestText">주소</p>
<p class="description">상세 주소는 심부름을 수락한 사람에게만 공개됩니다.</p>
        
</p>
<input type="text" class="addressInput" id="address-1" name="address-1" placeholder="도로명주소" readonly>

<input type="text" class="addressInput" id="address-2" name="address-2" placeholder="상세 주소를 입력해주세요.">
</p>
        <p>
            <input type="text" class="none"  id="zip-code" placeholder="우편번호" readonly>
            <input type="button" id="zip-code-button" onclick="execDaumPostcode()" value="+ 주소 검색">
            <input type="button" id="reset"
              onclick="execDaumPostcodeReset()" value="초기화">
        <p>

<div class="lineMaking" id="lineMaking2"></div>

<div class="underBanner">
    <p id="tipAlert">심부름꾼이 도착하면<br><span id="deliveryTip">4,000원</span>의 팁을<br> 전달해주세요</p><img src="{%static 'deliveryMan1.png' %}" id="underBannerImg">
</div>

        <button type="button" class="submitButton" id="showModalButton" >요청하기</button>
    </form>

    <!-- 팝업 -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <div class="modalContent">
                <img src="{%static 'deliveryMan2.png' %}" >
                <p>요청 내용이 심부름꾼들에게 전달됩니다.<br>
                    진행하시겠습니까?</p>
            </div>
          <button class="modalButton" id="submitModal" type="button" onclick="submitForm()">요청하기</button>
          <button class="modalButton close" id="closeModal" type="button" onclick="hideConfirmation()">취소하기</button>
          
        </div>
      </div>




<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function execDaumPostcode() {
        new daum.Postcode( {
        oncomplete: function( data ) {
            document.getElementById( 'zip-code' ).value = data.zonecode;
            document.getElementById( 'address-1' ).value = data.address;
            document.getElementById( 'address-1-1' ).value = data.jibunAddress;
            document.getElementById( 'address-2' ).focus();
        }
        } ).open();
    }
    function execDaumPostcodeReset() {
        document.getElementById( 'zip-code' ).value = null;
        document.getElementById( 'address-1' ).value = null;
        document.getElementById( 'address-1-1' ).value = null;
        document.getElementById( 'address-2' ).value = null;
    }
</script>

<script>
    function submitForm() {
        document.getElementById('errandForm').submit();
    }
</script>

<script>
  // 팝업띄우기
    const showModalButton = document.getElementById('showModalButton');
const modal = document.getElementById('modal');
const closeModal = document.getElementById('closeModal');

showModalButton.addEventListener('click', function() {
  modal.style.display = 'block';
});

closeModal.addEventListener('click', function() {
  modal.style.display = 'none';
});

window.addEventListener('click', function(event) {
  if (event.target == modal) {
    modal.style.display = 'none';
  }
});

</script>

{% endblock %}