<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
</head>
<body>

    <a href="{% url 'errand_home' %}">뒤로가기</a>

    <div>
        {{user.name}}
        내 포인트: {{user.point}} p
        <div>포인트 충전하기</div>
    </div>

    <div>
        <div>진행 중인 심부름</div>

        {% for errand in ongoing_errands %}
            <li>
                <a href="{% url 'errand_detail_for_server' errand.id %}">{{ errand.item }} </a>
            </li>
        {% endfor %}

        <div>완료한 심부름</div>

        {% for errand in past_errands %}
            <li>
                <a href="{% url 'errand_detail_for_server' errand.id %}">{{ errand.item }} </a>
            </li>
        {% endfor %}

    </div>
</body>
</html>