<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>진행 중인 심부름</title>
</head>
<body>
    {% for errand in ongoing_errands %}
        <li>
            <a href="{% url 'errand_detail_for_server' errand.id %}">{{ errand.item }} </a>
            <a href="{% url 'errand_complete' errand.id %}">완료하기</a>
            <a href="{% url 'errand_accept_delete' errand.id %}">수락 취소하기</a>
        </li>
    {% endfor %}
</body>
</html>