{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 아이콘 적용 -->
    <link rel="apple-touch-icon" sizes="180x180" href="{%static 'icon.png' %}">
    <link rel="shortcut icon" sizes="192x192" href="{%static 'icon.png' %}" /> 
    <link rel="icon" type="image/png" sizes="32x32" href="{%static 'icon.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{%static 'icon.png' %}">
    
    <link
      href="https://fonts.googleapis.com/css?family=SUIT&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <title>손끝배달</title>
    <link rel="stylesheet" href="{%static 'account.css' %}" />
    <style>
      * {
        box-sizing: border-box;
      }
      body {
        margin: 0;
        padding: 0;
        font-family: SUIT;
      }
      .container {
        max-width: 600px;
        margin: auto;
      }
      a {
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <div class="container">{% block content %} {% endblock %}</div>
  </body>
</html>
