{% extends 'base2.html' %}


{% block content %}
{% load static %}

<div class="header">
  <div class="icon"><a href="{% url 'login' %}"><span class="material-symbols-outlined"> arrow_back
      </span></a></div>
</div>

<div class="logo-and-title">
  <img class="textlogo" src="{%static 'loginPageLogo.png' %}" alt="로고" />
  <h1>손쉬운 심부름꾼 매칭 서비스</h1>
</div>

<div class="name-number">
  <form method="post">
    {% csrf_token %}
    <input type="text" placeholder="이름을 입력해주세요" id="name" name="name" required />
    <input type="text" placeholder="전화번호를 입력해주세요" id="phone_number" name="phone_number" required />
    <br />

    {% if error_message %}
    <p class="error-message">{{ error_message }}</p>
    {% endif %}
</div>

<div class="submit">
  <button class="signup-button" type="submit">가입하기</button>
</div>


</form>




{% endblock %}