{% extends 'base1.html' %}
  
  {% block content %}
  {% load static %}
      <div class="logoContainer">
        <img class="textlogo" src="{%static 'textlogo.png' %}" alt="로고" />
      </div>

      <p class="greetingText">
        손끝배달에<br />어떤 일로 오셨나요?</span>
      </p>

      <div class="buttonContainer">
<a href="{% url 'login' %}?user_type=client"><div id="clientButton">
    <img src="{%static 'smartphone.png' %}" alt="심부름 요청하기" class="buttonImg">
    <p class="firstText">심부름</p>
    <p class="secondText">요청하기</p>
</div></a>

<a href="{% url 'login' %}?user_type=server"><div id="errandButton">
    <img src="{%static 'shoppingCart.png' %}" alt="심부름 수행하기" class="buttonImg">
    <p class="firstText">심부름</p>
    <p class="secondText">수행하기</p>
</div></a>
      </div>

      <a href="{% url 'inform' %}"><div class="manualContainer">
        <p class="manual">사용법 안내</p>
      </div></a>
      {% endblock %}
      
