/* 텍스트 및 로고 */
.logo-and-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  position: relative; /* 추가된 스타일 */
}

.logo-and-title img {
  width: 180px;
  height: 150px;
  position: absolute;
  top: 50%; /* 세로 중앙 위치 */
  left: 50%; /* 가로 중앙 위치 */
  transform: translate(-50%, -50%); /* 중앙 정렬 */
  z-index: 1;
}

.logo-and-title h1 {
  font-size: 20px;
  font-weight: 700;
  color: #3e3e3f;
  position: absolute;
  top: 8%; /* 위에서 10% 위치 */
  left: 50%; /* 가로 중앙 위치 */
  transform: translateX(-50%); /* 가로 중앙 정렬 */
  z-index: 2;
  white-space: nowrap;
}

/* 헤더 */
.header {
  position: relative;
}

.icon {
  float: left;
  margin: 18px 0 0 7px;
}

.material-symbols-outlined {
  font-size: 40px;
  font-weight: 600;
}

.header::after {
  content: " ";
  display: block;
  clear: both;
}

/* 이름, 번호 입력창 */
.name-number input[type="text"],
.name-number input[type="number"] {
  width: 85%;
  height: 37px;
  display: block;
  margin: auto;
  border-radius: 5px;
  border: 1px solid #6d747f;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  padding-left: 13px;
  padding-top: 3px;
}

.name-number input[type="text"] {
  margin-bottom: 10px;
}

input::placeholder {
  font-size: 15px;
  font-weight: 500;
  color: #6d747f;
  line-height: 5px;
}

/* 로그인 버튼 스타일 */
.name-number .submit button {
  background-color: #fcc419;
  color: white;
  width: 48%;
  text-align: center;
  line-height: 53px;
  margin-top: 53px; /* 전화번호 입력 박스와의 간격 */
  margin-left: 50%; /* 가운데 정렬을 위한 왼쪽 여백 50% 설정 */
  transform: translateX(-50%); /* 가운데 정렬을 위한 X축 이동 */
  border: none; /* 테두리 없애기 */
  border-radius: 12px;
  font-size: 30px;
  font-weight: 800;
}

/* 회원가입 버튼 */
.more {
  text-align: center; /* 수정: 가운데 정렬 */
  margin-top: 29px; /* 수정: 로그인 버튼과의 간격 조정 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.more p {
  color: #6d747f;
  font-size: 14px; /* 수정: 글씨 크기 조정 */
  font-weight: 600;
  margin: 0;
  margin-right: 5px; /* 수정: 문단 사이의 간격 조정 */
}

.more a {
  color: #fe8723;
  display: inline-block;
  font-size: 14px; /* 수정: 글씨 크기 조정 */
  font-weight: 600;
  margin-left: 5px; /* 링크 사이의 간격 조정 */
}

.signup-button {
  background-color: #fcc419;
  color: white;
  width: 48%;
  text-align: center;
  line-height: 53px;
  margin-top: 53px; /* 전화번호 입력 박스와의 간격 */
  margin-left: 50%; /* 가운데 정렬을 위한 왼쪽 여백 50% 설정 */
  transform: translateX(-50%); /* 가운데 정렬을 위한 X축 이동 */
  border: none; /* 테두리 없애기 */
  border-radius: 12px;
  font-size: 30px;
  font-weight: 800;
}